.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.page-link,
.prev-link,
.next-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.page-link:hover,
.prev-link:hover,
.next-link:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.active a {
  background-color: #000;
  color: #fff;
}
